*, *::before, *::after {
  box-sizing : border-box;
}


/* création des polices d'écriture */
@font-face {
  font-family: 'HIROMISAKE';
  src : url('font/hiromisake/HIROMISAKE.woff2') format('woff2'),
       url('font/hiromisake/HIROMISAKE.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dongle';
  src: url(font/dongle/AnyConv.com__Dongle-Regular.woff2) format('woff2'),
      url(font/dongle/AnyConv.com__Dongle-Regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dongle';
  src: url(font/dongle/AnyConv.com__Dongle-Light.woff2) format('woff2'),
      url(font/dongle/AnyConv.com__Dongle-Light.woff) format('woff');
  font-weight:lighter;
  font-style: normal;
}


/* dimension du html selon les consignes +  retrait des surplus */
html{
    overflow: hidden;
    min-width: 768px;
    max-width : 1280px;
}

body{
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    z-index : 1;
}


/* Style des arrières-plans */
.page_accueil{
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(#16314A, #4C61AB, #7481AD, #AD9EAD);
  align-items: center;
  justify-content: center;
  display: flex;
  min-height: 100vh; 
  margin: auto;
  position: relative;
  z-index : 2;
}

.background {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  min-height: 100vh; 
  margin: auto;
  z-index : 4;
}


/* création de keyframes pour faire l'animation servant à faire bouger les nuages */
@keyframes float1 {
  50% { transform: translate(10px, 0); } 
}

@keyframes float2 {
  50% { transform: translate(-50px, 0); } 
}

/* STYLE DES NUAGES */

/* position + taille de tous les nuages */
.nuage {
  position: absolute;
  width: 60vh;
}

/* positionnement de chaque nuage + ajout des animations */
.nuage1 {
  top: 7vh;
  left: -5vw;
  z-index: 50;
  animation-name: float1;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.nuage2 {
  bottom: 29vh;
  left : 55vw;
  z-index: 5;
  animation-name: float2;
  animation-duration: 14s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.nuage3 {
  top: 20vh;
  right: -5vw;
  z-index: 5;
  animation-name: float1;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


/* STYLE DES TITRES */

/* h1 - Mon portrait chinois */
h1 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: absolute;
    margin: auto;
    font-size: 4rem;
    right : 13vw;
    bottom : 40vh;
    color: white;
    z-index : 7;
    font-family : HIROMISAKE;
    text-align: center;
    width: 40%;
}

pascache {
  display: flex;
}

.cache {
  display: none;
}

/* h2 - "A votre tour" + "Valeur de je serais..." */
h2 {
  font-size: 3rem;
  color: white;
  text-shadow: 0 0 0.2vh #ddd;
  margin: auto;
  font-family: Dongle, sans-serif;
}

/* h3 "Si j'étais..., je serais..." */
h3 {
  font-size: 1.6rem;
  font-style: italic;
  color: white;
  opacity : 1;
  font-family: Dongle, sans-serif;
  line-height: 20px;
  margin-bottom: auto;
}

/* h4 - "Mentions légales" */
h4 {
  margin: 0;
  color: white;
  text-align: center;
  padding-top: 1%;
  font-family: Dongle, sans-serif;
  font-size: 3rem;
}

/* h5 - Sous titre des Mentions légales ("Polices utilisées" + "Hébergement" + "Collecte des données personnelles") */
h5 {
  color: white;
  font-family: Dongle, sans-serif;
  font-size: 1.6rem;
  margin-bottom: auto;
  line-height: 22px;
}

/* "myName" sous-titres avec mon prénom et mon nom */
.myName {
  font-family: Dongle, sans-serif;
  color: white;
  position: absolute;
  top: 55vh;
  right: 18vw;
  font-size: 1.5rem;
}

/* STYLE DE LA ROUE */

/* création d'une keyframe pour faire tourner la roue */
@keyframes roue {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* style de la roue led */
.grande_roue{
    height : 70vh;
    position : absolute;
    top: 10.52vh;
    left: 7.79vh;
    z-index : 5;
    animation-name: roue;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.roue .img_nacelle {
  display: flex;
}

.nacelle {
  width: 12vh;
  height: 19vh;
  position : absolute;
  cursor: pointer;
  transition: transform .2s;
  z-index: 5;
}

.nacelle:hover {
  transform: scale(1.3);
}


/* STYLE DES POPUP/FENÊTRES MODALES */

/* Popup de base pour le texte */
.popup{
  position: fixed;
  width : fit-content;
  max-width: 50vw;
}

.popup-visible{
  display: flex;
  background-color: #424E78 ;
  opacity : 0.9;
  position : relative;
  border : 1vh solid #293252;
  border-radius: 20px;
  left : 19vw;
  z-index : 14;
  box-shadow: 1px 1px 12px #ddd;
}

.popup-invisible{
  display: none;
}

/* Texte analogie */
.fenetre-visible {
  display: flex;
  width: fit-content;
}

.fenetre-invisible {
  display: none;
}

/* style de la popup du formulaire */
.popupForm {
  width: 80vh;
  height : 80vh;
}

.form-visible {
  display : flex;
  background-color: #a9aec4 ;
  opacity : 0.9;
  position : absolute;
  border : 1vh solid #686f88;
  border-radius: 3vh;
  left : 2.5vw;
  z-index : 500;
}

.form-invisible {
  display: none;
}

.formulaire {
  padding: 20px;
  height: 80vh;
}



/* STYLE DU FORMULAIRE */


#col3 p{
  text-align: left;
}

/* style des input + label */
.input-container {
  position: relative;
  height: fit-content;
  margin: 4px 0;
}

input {
  background-color: #747b9c;
  border-radius: 12px;
  border: 0;
  color: rgb(255, 251, 251);
  font-size: 1rem;
  height: 50%;
  outline: 0;
  padding: 4px 20px 0;
  width: 98%;
  z-index : 30;
}

::placeholder {
  color: rgb(199, 194, 204);
  font-family: Dongle, sans-serif;
  font-weight: lighter;
  font-size: 1.3rem;
}

input[type="submit"] {
  height : 10%;
}

input[type="checkbox"] {
  width: 20px;
  height: 15px;
  margin-right: 5px; 
  box-shadow: unset;
  min-height: unset;
}

.input-cont {
  width : 48%;
  display: inline-block;
}

label {
  font-size : 1.5rem;
  font-family: Dongle, sans-serif;
  font-weight: normal;
}

#acceptCheck {
  font-size: 1.1rem;
  line-height: 2px;

}

section {
  margin: auto;
  margin-left: 2vw;
  margin-right: 2vw;
}



.imageAnalogie {
  width: 20%;
  display: inline;
  object-fit: cover;
  float: left;
  opacity : 1;
  margin-right : 20px;
  margin-bottom: 20px;
  z-index: 16;
}

.containMentLeg {
  width: fit-content;
  display: inline;
  max-width: 34%;
  top: 0%;
  float: left;
  margin: 0 30px;
}

.containMentLeg p {
  margin-top: auto;
  line-height: 18px;
  text-align: justify;
}

.texte {
  font-size: 1.7rem;
  color: white;
  font-family: Dongle, sans-serif;
  line-height: 20px;
  max-width: 50vw;
  margin-top: auto;
}

footer {
  position: absolute;
  bottom: 0;
}

a {
  color: #AD9EAD;
}

p {
  font-family: Dongle, sans-serif;
  color: white;
  font-size: 1.3rem;
}

#col1 {
  max-width: 15%;
  margin-left: 4.8%;
}

.introMentLeg {
  text-align: center;
  font-size: 2rem;
  margin: 0;
  line-height: 26px;
}

.finMentLeg {
  text-align: center;
  margin: auto;
}

.cross {
  font-family: Dongle, sans-serif;
  color: white;
  position: absolute;
  top: 0;
  right: 2vw;
  font-size: 3rem;
  cursor : pointer;
}

/* STYLE DES MENTIONS LEGALES */

/* style volet des mentions légales */
.volet {
  overflow: hidden;
  height: fit-content;
  width: 100vw;
  position: absolute;
  bottom: 0;
  z-index: 200;
}

.volet-visible {
  display: block;
  background-color: rgba(61, 70, 121, 0.9);
  z-index: 1000;
}

.volet-invisible {
  display: none;
}

.mentionsLegales {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 20px;
  padding-bottom: 0;
  font-size: 2.6rem;
  font-family: Dongle, sans-serif;
  color: white;
  cursor: pointer;
  z-index: 200;
}

.texte span {
  max-width: 50vw;
}

textarea {
  resize: none;
}



/* Media query pour que la page s'adapte */
@media screen and (min-width:768px) and (max-width: 1230px){
  .containMentLeg {
    max-width: 33%;
    margin: 0 25px;
  }

  #col1 {
    max-width: 14%;
    margin-left: 4%;
  }
}

@media screen and (min-width:768px) and (max-width: 1170px){
  .texte{
    font-size: 1.4rem;
    line-height: 18px;
  }

  section h2 {
    font-size: 1.5rem;
  }

  section h3 {
    font-size: 1.3rem;
  }

  .popup{
    max-width: 40vw;
  }
  .popup-visible{
    left: 24vw;
  }
}


@media screen and (min-width:768px) and (max-width: 960px){
  .popup-visible{
    bottom: 0;
  }

  h1{
    font-size: 2rem;
    right: 2vw;
    top : 30vh;
  }

  .moi {
    font-size: 1.3rem;
    top: 38vh;
    right: 6vw;
  }

  section h2 {
    font-size: 1.3rem;
  }

  section h3 {
    font-size: 1.2rem;
    max-width: 40vw;
  }

  .texte span {
    max-width: 40vw;
  }

  .imageAnalogie {
    margin-right: 10px;
    margin-bottom: 0;
  }

  h5 {
    font-size: 1.4rem;
    margin-top: 15px;
  }

  .introMentLeg {
    font-size: 1.8rem;
    padding: 0 15px;
  }

  .containMentLeg {
    max-width: 30%;
    margin: 0 20px;
  }

  #col1 {
    max-width: 13%;
    margin-left: 3%;
  }
}

@media screen and (min-width:768px) and (max-width: 920px){
  .popup{
    max-width: 30vw;
  }

  .texte{
    font-size: 1.2rem;
    line-height: 15px;
  }

  .popup-visible{
    left: 30vw;
  }
}


@media screen and (min-width:768px) and (max-width: 840px){
  .containMentLeg {
    max-width: 33%;
    margin: 0 15px;
  }

  .containMentLeg p {
    font-size: 1.2rem;
  }
}